@font-face {
  font-family: Necto Mono;
  src: url('./assets/necto-mono.woff2');
}

body {
  font-family: Necto Mono;
  font-size: 16px;
  line-height: 1.25;

  background-color: #f8f8f8;
  color: #000;
}

main {
  display: grid;
  min-height: 100vh;

  grid-template-columns: 1fr 320px;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: 'display logo' 'display form' 'display save';
}

header {
  grid-area: logo;
}

form {
  grid-area: form;
}

section {
  grid-area: display;
}

div.save {
  grid-area: save;
}

header,
form,
div.save {
  background-color: #fff;
  padding: 24px;
}
